* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --item-size: 150;
}

body {
  background-color: #333;
  color: white;
  width: 100%;
}

.items {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 170px);
  gap: 10px 10px;
  width: 100%;
  position: relative;
}

.item {
  border: 1px solid gray;
  border-radius: 4px;
  width: calc(var(--item-size)* 1px + 20px);
  height: calc(var(--item-size)* 1px + 20px);
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: inherit;
}

.name {
  position: absolute;
  top: 0.3em;
  left: 0.5em;
}

.pokemonImg {
  transform: scale(calc(var(--item-size) / 256));
}